@{
    ViewData["Title"] = "Meus Repositórios";
}

<div class="text-center ">
    <h1 class="display-4">Bem vindo ao <strong >Descobritórios</strong> <br />( Não tem nada a ver com Dormitórios! ) <br/>
                Descubra os seus(e outros) repositórios no github e escolha os que mais lhe agradam</h1>
    
</div>
<div class="text-center texto-dark"><p class="rodape">Somente disponivel em <a href="https://www.researchgate.net/publication/336569145_Effects_of_Dark_Mode_on_Visual_Fatigue_and_Acuity_in_Optical_See-Through_Head-Mounted_Displays">DARK MODE</a></p></div>
